{% extends 'base.html' %}
{% block content %}
<!-- banner -->
{% load filter_tags %}
    <div class="ds-banner">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <figure>
              <img class="profile-pic-lg" src="static/images/pradip.jpg">
            </figure>
          </div>
          <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
            <section>
                <h1>
                  <span>Hi There,</span>
                  I'm Pradip Bankar <br>
                </h1>
                <ul class="ds-numbervalulist">
                  <!-- <li>
                    <strong>6+</strong>
                    <span>Experience</span>
                  </li> -->
                  <li>
                    <strong>{{number_of_projects}}</strong>
                    <span>Projects</span>
                  </li>
                  <li>
                    <strong>{{number_of_internships}}</strong>
                    <span>Internships</span>
                  </li>
                </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
    <!-- banner -->

    <!-- about -->
    <div class="ds-about-section">
      <div class="container">
        <section>
            <h2 class="ds-heading">About Me</h2>
            <p>{{about_me|safe}}</p>
            <div class="ds-button-sec text-center">
                <a href="/resume" class="ds-button">Download Resume</a>
            </div>
        </section>
      </div>
    </div>
    <!-- about -->

    <!--  Skills -->
    <div class="ds-skills-section">
      <div class="container">
        <div class="row">
          <div class="">
             <h2 class="ds-heading">Core Skills</h2>
             <ul class="ds-skills-list">
               {% for skill in skills %}
               <li>{{ skill }}</li>
               {% endfor %}
             </ul>
          </div>
          <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <h2 class="ds-heading">Other Skills</h2>
            <ul class="ds-skills-list">
              <li>Storyblok</li>
              <li>PWAs</li>
              <li>Responsive Web Design</li>
              <li>React</li>
              <li>Vuetify</li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
    <!--  Skills -->

   <!-- Experience -->
   <div class="ds-experience-section">
     <div class="container">
        <h2 class="ds-heading">Work Experience</h2>
        <div class="row ds-experience-list">

          {% for exp in experiences %}
          {% if exp.visible_on_cv %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <section>
              <span class="ds-year">{{ exp.start_date }} - {{ exp.end_date }}</span>
              <h3 class="ds-officename">{{ exp.company }}</h3>
              <span class="ds-department">{{ exp.role }}</span>
              <p>{{ exp.about | safe }}</p>
              <div class="ds-skills-list">
                
                {% for tag in exp.tags|split:',' %}
                <li>{{ tag }}</li>
                {% endfor %}
                
              </div>
            </section>
          </div>

          {% endif %}
          {% endfor %}

        </div>
     </div>
   </div>
    <!-- Experience -->

   <!--  Work -->
   <div class="ds-work-section">
     <div class="container">
          <h2 class="ds-heading">Projects</h2>
          <div class="ds-work-list-section">


            {% for project in projects %}
              {% if project.visible_on_cv %}
              <div class="ds-work-list">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                        <section>
                            <h3 class="ds-work-tilte">{{ project.name }}</h3>
                            {{ project.small_desc|safe }}
                            <a href="works-setails/{{project.id}}" class="ds-button">Details</a>
                        </section>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                        <figure><img src="{{project.project_banner}}"></figure>
                    </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}


          </div>
     </div>
   </div>

   
   <!--  Work -->
   {% endblock content %}